doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.anychart.com/css/latest/anychart-ui.min.css')
    script(src='https://cdn.anychart.com/js/latest/anychart-bundle.min.js')
  body
    block content
