doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css')
    link(rel='stylesheet', href='https://cdn.anychart.com/releases/v8/fonts/css/anychart.min.css')
    script(src='https://cdn.anychart.com/releases/v8/js/anychart-base.min.js')
    script(src='https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js')
    script(src='https://cdn.anychart.com/releases/v8/js/anychart-vml.min.js')
  body
    block content
